# FastAPI backend
fastapi
uvicorn
python-dotenv

# Langchain core + integrations
langchain
langchain-community
langchain-core
langchain-ollama

# Vector store and LLM
chromadb
ollama

# File loading and utilities
tqdm
pypdf
unstructured
python-docx
openpyxl